{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome {{current_user.get_name()}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  This is going to be the default logged on area where you will be able to see the reminders, we are also preparing a little weather forecast data to be shown here. Buttons will be available to add, modify or delete reminders.

  Still no real information please. If you want to check how the data is stored you can navigate to <b>/test_db</b> and if you want to see the info we can get from your IP address go to <b>/test_ipdata</b>.
{% endblock %}
