{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
  Please note that this website is in development by completely clueless people who are just learning cloud computing and are no way experts in web development, data encryption and proper security protocols.<br>
  
  <h2><p style="color:red"> Please under no circumstances provide real information here!!!<br>
  This website is not safe! </p></h2><br>

  Of course needless to say that we are working hard to make sure the data is secure for the little time the free database is live and then the information will be deleted.<br><br>

  Other than that: enjoy and go nuts!
{% endblock %}